In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import pickle

#### _This notebook was used for cleaning and enriching the dataset describing each title identifiable thorugh the `tconst` key._

***
### Step 1: Basic cleaning

In [2]:
title_basics = pd.read_csv('../data/title.basics.tsv', delimiter = '\t')

/Users/martalew/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
title_basics.shape

(7526011, 9)

In [5]:
title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7526011 entries, 0 to 7526010
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 516.8+ MB

In [6]:
title_basics['startYear'] = pd.to_numeric(title_basics['startYear'].replace('\\N', np.nan))

In [7]:
title_basics['titleType'].value_counts()

tvEpisode       5448658
short            788500
movie            564718
video            292042
tvSeries         199606
tvMovie          112665
tvMiniSeries      35322
tvSpecial         31080
videoGame         27142
tvShort           26275
radioSeries           1
episode               1
audiobook             1
Name: titleType, dtype: int64

In [8]:
title_basics = title_basics[(title_basics['startYear']>=1910) & (title_basics['startYear']<=2020)] # selecting titles from a period of 110 years
title_basics = title_basics[title_basics['titleType']=='movie'] # selecting only movies

In [9]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
876,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910.0,\N,\N,Drama
1026,tt0001038,movie,Sherlock Holmes VI,Sherlock Holmes VI,0,1910.0,\N,\N,\N
1089,tt0001101,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0,1910.0,\N,\N,\N
1097,tt0001109,movie,L'aluminite,L'aluminite,0,1910.0,\N,\N,\N
1100,tt0001112,movie,Amleto,Amleto,0,1910.0,\N,\N,Drama

In [10]:
title_basics.set_index('tconst', inplace= True)

In [11]:
title_basics_1990_2020 = title_basics[title_basics['startYear'].between(1990,2020)] # creating a subset of movies only for the period covered by enhanced data

In [12]:
title_basics_1990_2020.to_csv('../data/title_basics_1990_2020.csv', index_label='tconst')

***
### Step 2: Exporting useful information for easy retriefal during analysis of other datasets

Creating a dictionary mapping the unique `tconst` identifier to a movie's title and saving it as a pickle:

In [13]:
tconst_title = {tconst: title for tconst, title in zip(title_basics.index, title_basics['primaryTitle'])}

pickle.dump(tconst_title, open('../pickles/tconst_title.p', 'wb'))

In [14]:
tconst_year = {tconst: year for tconst, year in zip(title_basics.index, title_basics['startYear'])}

pickle.dump(tconst_year, open('../pickles/tconst_year.p', 'wb'))

In [15]:
tconst_title['tt7983894']

'Ammonite'

In [16]:
tconst_year['tt7983894']

2020.0